@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: #333;
  /* display: flex;
  justify-content: center; */
}
.card {
  background-color: #fff;
  width: 40%;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.9) 0px 3px 8px;
  overflow-y: auto;
}
h1 {
  text-align: center;
}
.input-form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.input-form input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}
.add-button {
  padding: 8px 12px;
  background-color: #f7924f;
  color: #fff;
  border: 1px solid #f7924f;
  border-radius: 8px;
  cursor: pointer;
}
.add-button:hover {
  background-color: rgba(247, 146, 79, 0.8);
}
ul {
  margin: 0;
  padding: 0;
}
.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  list-style: none;
  padding: 10px 6px;
}
.list-item:hover {
  background-color: #ddd;
  border-radius: 10px;
}
.list-item.completed span {
  text-decoration: line-through;
  color: #999;
}
.left-side {
  display: flex;
  align-items: center;
  gap: 8px;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #f7924f;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  border-color: #f7924f;
  background-color: #f7924f;
}
.delete-button {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}
.footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.footer .todo-filter {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #333;
  font-weight: bold;
}
.footer .todo-filter.active-filter {
  color: #f7924f;
}
.clear-complete {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #f7924f;
  font-weight: bold;
}
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .card {
    width: 80%;
  }
}